<!-- Posts -->
<%-partial('partials/recent-posts')%>

<div id="paginator">
  <%- paginator({
    total: Math.ceil(site.posts.length/config.index_generator.per_page),
    prev_text: '<',
    next_text: '>'
    }) %>
</div>
