<footer class="container portrait footer" id="footer">
  <p class="footer--center">
    Copyright &copy; <%-config.author%> <%- date(Date.now(), 'YYYY') %>
  </p>
  <div id="slogons">
    <% config.slogons.forEach(function(slogon, i) { %>
      <p class="footer--center displayNone">
        <%- slogon %>
      </p>
    <% }) %>
  </div>
  <p class="footer--center">
    阿罗拉ICP备以太乐园号-6
  </p>
  <p class="footer--center">
    Powered by Hexo and <a href="https://adamsandwich.com">Adamsandwich</a> | Theme <a href="https://github.com/adamsandwich/atlas">Atlas</a>
  </p>
</footer>
<script>
  var slogons = document.getElementById('slogons');
  var index = Math.floor(Math.random() * slogons.children.length);
  slogons.children[index].classList.remove('displayNone');
</script>