<header class="intro">
  <div class="container portrait mask">
    <div class="header">
      <h1><% if (page.title) { %> <%=page.title%> <% } else { %> <%=config.title%> <% } %></h1>
      <span><% if (page.subtitle) { %> <%=page.subtitle%> <% } %></span>
      <span><%=config.description%></span>
    </div>
</header>
